html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background-image: url(../img/background.png);
  background-size: 20px;
  background-repeat: repeat;
  padding:0;
  margin:0;
  height: 100%;
}

/*menu bar*/
.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.tab {
  float: left;
}

.tab a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tab a:hover:not(.active) {
  background-color: #666;
}

.menu-list li .active {
  background-color: #8FC1C6;
}
/* front page*/

.front-section {
	height: 100%;
}

.front-section h1 {
	font-size:100px;
	font-weight: bold;
	color:#ffffff;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.front-section h2 {
	font-size:40px;
	color:#ffffff;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.9s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#front {
	padding:15%;
	text-align: center;
	background-image: url("../img/background_2.jpg");
} 

.title {
	color: #000000;
	font-size: 45px;
	text-align: center;
	padding: 50px;
	margin-bottom:0;
	margin-top:0;
	text-decoration: underline;
	text-decoration-color: #b3b3ff;
}

.description {
	width: 600px;
	margin: 0 auto;
}

.traits-container {
	width:1000px;
	margin: 0 auto;
	margin-right:420px;
}

.tools-bin, .interests-bin, .hobbies-bin {
	display: table-cell;
	padding: 50px;
}

.tool-list, .interest-list, .hobby-list {
	list-style: none;
}

.tool-list li:first-child, .interest-list li:first-child, .hobby-list li:first-child{
	font-weight: bold;
	font-size:30px;
	margin-bottom:30px;
	text-decoration: underline;
	text-decoration-color: #e6b3ff;
}

.tool-list li, .interest-list li, .hobby-list li{
	padding:5px;
	text-align: center;
}

/*project bins*/
.project-container { 
	display: grid;
	grid-template-columns: auto auto auto;
	border-style: hidden;
	grid-gap: 5px 5px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 1600px;
	position: relative;
}

.project {
	display:flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border: 2px solid gray;
	border-radius: 8px;
	height: 300px;
	width: 500px;
	position: relative;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

.project img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

.project-content {
	width: 450px;
	transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-title {
	font-size: 35px;
	font-weight: bold;
	width: 500px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #ffffff;
}

.project-title:hover {
	color: #b3b3b3;
}

.project-desc {
	margin-top: 50px;
	color: #ffffff;
}

.project:hover {
	background-color: #14141f;
}

.project:hover img {
	opacity:0.2;
}

.project:hover .project-content {
	opacity: 1;
}

.image {
	opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

h1 {
	size: 20px;
}

h1, h2, p {
	color: #562D7F;
	text-align: center;
}

table, th, td {
	border:1px solid black;
}


#main {
  transition: margin-left .5s;
  padding: 16px;
}

#menu {
	overflow:hidden;
}   

/*contact*/

.contact-container {
	margin-top: 0;
	padding-top: 0;
	margin: auto;
	width: 650px;
}

.contact-list {
	display:center;
	position: center;
	list-style: none;
}

.contact-icon i{
	font-size: 36px;
	color: #8FC1C6;
	padding:10px;
	margin-left: 20px;
}

.contact-icon {
	display:inline;
}



/* ----------------------media settings-------------------*/

@media screen and (max-width: 980px) {

.front-section {
	width: 210%;
}

.tab a {
  padding: 50px 80px;
}

.description {
	width: 600px;
	margin: 0 auto;
}
	
	#main {
		width: 1200px;
	}
	
	#contact {
		width: 1200px;
	}
	
.title {
	font-size: 100px;
	width: 1000px;

}

.description {
	width: 1000px;
	font-size: 60px;
}

.traits-container {
	width:1000px;
}

.tools-bin, .interests-bin, .hobbies-bin {
	display: inline;
	
}

.tool-list, .interest-list, .hobby-list {
	list-style: none;
}

.tool-list li:first-child, .interest-list li:first-child, .hobby-list li:first-child{
	font-size:70px;
}

.tool-list li, .interest-list li, .hobby-list li{
	font-size: 50px;
}

.project-container {
	display: inline;
	grid-template-columns: auto auto auto;
	border-style: hidden;
	grid-gap: 0px 0px;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	width: 200%;
	position: relative;
}

.project {
	 width: 200%;
	 height: 100%;
	 margin: 100px;
}

.contact-container {
	width:700px;
}
.contact-icon i{
	font-size: 90px;
	color: #8FC1C6;
	padding:10px;
}

.contact-icon a {
	font-size: 45px;
}

