html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
  background-image: url(../img/background.png);
  background-size: 20px;
  background-repeat: repeat;
}

.main {
	background-image: url("../img/title_background.jpg");
	margin-bottom:200px;
}

.contact {
	margin-top: 200px;
	background-color: #C6C6C6;
}

.title {
	color: #FFFFFF;
	font-size: 70px;
	text-align: center;
}

.row {
	display: td;
	height: 600px;
	border: 2px solid gray;
	border-radius: 8px;
	margin: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position:relative;
}

.middle {
	transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
} 

.image {
	opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
	opacity: 0;
	background-color: #8FC1C6;
    color: white;
    font-size: 16px;
    padding: 16px 16px;
	display: inline-block;
}

.row:hover .image {
	opacity:0.3;
}

.row:hover .middle {
	opacity: 1;
}

.row:hover .text {
	opacity: 1;
}

a.img-wrap {
	width:auto;
	height: 400px;
	display: inline-block;
	overflow: hidden;
}

a.img-wrap img {
	width: 800px;
	height: 400px;
	bottom:0;
	position:absolute;
}

h1, h2, p {
	color: #562D7F;
	text-align: center;
}

table, th, td {
	border:1px solid black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #387EB8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #D7EBFC;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#menu {
	overflow:hidden;
}   

.btn {
	color: #FFFFFF ;
    background-color: #8FC1C6;
    border-radius: 30px;
    border:solid #5c00b3;
    padding: 15px 32px;
    font-size: 20px;
    margin:0 auto;
    display:block;
    box-shadow:0 5px #999;
}

.contact-group {
	margin: 0 auto;
	width: 470px;
}

.contact-group button {
	margin:10px;
	display: inline-block;
}

/* ----------------------media settings-------------------*/

@media screen and (max-width: 980px) {
  .row {
	  width: 94%;
	  height: 94%;
  }
  
  a.img-wrap {
	  height: 54%
	  width:auto;
	  display:inline-block;
	  overflow:hidden;
  }
  
  a.img-wrap img {
	  width: 54%;
	  height: 54%;
	  bottom: 0;
	  position: absolute;  
  }
}

@media screen and (max-width: 700px) {
  .row {
	  width: auto;
	  height: auto;
  }
  
    a.img-wrap {
	  height: 54%
	  width:auto;
	  display:inline-block;
	  overflow:hidden;
  }
  
  a.img-wrap img {
	  width: 54%;
	  height: 54%;
	  bottom: 0;
	  position: absolute;  
  }
}

@media screen and (max-width: 480px) {
  .row {
	  width: auto;
	  height: auto;
  }
  
    a.img-wrap {
	  height: 54%
	  width:auto;
	  display:inline-block;
	  overflow:hidden;
  }
  
  a.img-wrap img {
	  width: 95%;
	  height: 54%;
	  bottom: 0;
	  position: absolute;  
  }
}